{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Kalendario</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <link rel="apple-touch-icon" href="{% static 'ang/assets/icons/icon-192x192.png' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'ang/favicon.ico' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="manifest" href="{% static 'ang/manifest.webmanifest' %}">
    <meta name="theme-color" content="#1976d2">
    <link rel="stylesheet" href="{% static 'ang/styles.css' %}">
    <script src="https://kit.fontawesome.com/0adfa25a93.js" crossorigin="anonymous"></script>
</head>
<body>
<script async defer src="https://connect.facebook.net/en_US/sdk.js"></script>
<app-root></app-root>
<script type="text/javascript" src="{% static 'ang/runtime-es5.js' %}" nomodule="" defer=""></script>
<script type="text/javascript" src="{% static 'ang/runtime-es2015.js' %}"></script>
<script type="text/javascript" src="{% static 'ang/polyfills-es5.js' %}" nomodule="" defer=""></script>
<script type="text/javascript" src="{% static 'ang/polyfills-es2015.js' %}"></script>
<script type="text/javascript" src="{% static 'ang/main-es5.js' %}" nomodule="" defer=""></script>
<script type="text/javascript" src="{% static 'ang/main-es2015.js' %}"></script>
<script type="text/javascript" src="{% static 'ang/common-es5.js' %}" nomodule="" defer=""></script>
<script type="text/javascript" src="{% static 'ang/common-es2015.js' %}"></script>
</body>
</html>
